{% extends 'base.html' %}
{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block content %}
    <h2>Inscription</h2>
    <form action="" method="POST">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p class="error-text">{{ error }}</p>
            {% endfor %}
    {% endfor %}
    <input type="submit" value="S'inscrire" />
    </form>
{% endblock %}